@tailwind base;
@tailwind components;
@tailwind utilities;


.caption-box {
    background: rgba(255,255,255,0.75);
    padding: 15px 25px;
}

header {
    position: sticky;
    top:0;
    z-index: 100;
    background: #fff;
}